body{
  background-color: lightslategray;
  color: floralwhite;
}

.header-container{
  padding-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightslategray;
  color: floralwhite
  
}
.header-item:nth-of-type(1) {
width: 50%;

}
.header-item:nth-of-type(2) {
 width: 50%;
}
#title{
  font-size: 200%;
}

#header-quote{
  text-align: center;
  font-size: 150%;
}
#header-img{
  margin-left: 20%;
  margin-right: 20%;
  width: 30%;
  max-width: 200px;
}
.header-button{
  text-align: center;
  margin-bottom: 3%;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 3%;
  background-color: lightgray;
}
.footer a{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1%;
}

.navbar ul{
  background-color: #caf0fe;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  margin-bottom: 5%; 
}
.navbar li{
  background-color: floralwhite;
  float: left;
  margin: 1%;
  
}
.navbar a{
  color: lightslategray;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  color: green
}
ul{
  list-style: square;
}

#theme-button {
  text-decoration-line: underline;
  background-color: floralwhite;
  font-weight: bold;
  color: blue;
  padding: 15px;
  border: dotted;
  border-width: 2px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.petition{
  margin-bottom: 10%;
  
}
a:link{
  color : #0433ff; 
}

a:hover{
  color : #000000;
}

a:visited{
  color: blueviolet;
}

a:active{
  color: #ff2600;
}

.petition-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
}

.petition-para{
  width: 55%;
  padding-right: 10px;
}

.signatures{
  width: 45%;
  padding-right: 10px;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}

.revealable{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.active{
  transform: translateY(0px);
  opacity: 1;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}


.modal-content {
  background-color: lightsteelblue; 
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; 
  justify-content: center;
  align-items: center;
}

#thanks-modal-content {
  width: 20rem; 
}

#modal-text-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
